<div>
<h2 class="titulo">Bem-Vindo ao meu site</h2>
<p>Escolha uma dessas cartas abaixo para tirar alguns de suas curiosidades sobre mim  </p>
<p class="seta">⇣</p>
  <ul>
  <li>
    <h1>1</h1>
    <span> Deseja me conhecer melhor? </span>
    <a href="/sobre"><span>Clique aqui</span></a>
  </li>
  <li>
    <h1>2</h1>
    <span>Algumas Habilidades</span>
    <a href="#"><span>Clique aqui</span></a>
  </li>
  <li>
    <h1>3</h1>
    <span>Certificados e Cursos</span>
    <a href="/curso"><span>Clique aqui</span></a>
  </li>
  </ul>
</div>
