<a href=""><h1 class="brug">Brug<span>neroto</span></h1></a>
<section>
  <div>
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <nav>
    <ul>
      <li><a href="#" class="li-a">Home</a></li>
      <li><a href="/sobre" class="li-a">Sobre</a></li>
      <li><a href="/cursos" class="li-a">Cursos</a></li>
    </ul>
  </nav>
</section>

<div>
  <h1 class="titulo">EM DESENVOLVIMENTO</h1>
</div>

<section class="footer">
  <ul class="footerUl">
    <li class="footerLi"><a href="https://www.linkedin.com/in/eduardo-brugneroto-57aba61b8/" class="li-b">Linkedin</a></li>
    <li class="footerLi"><a href="https://github.com/EduardoBrugneroto" class="li-b">GitHub</a></li>
    <li class="footerLi"><a href="mailto:xeduxbrux@gmail.com" class="li-b">Email</a></li>
    <li class="footerLi"><a href="https://www.facebook.com/eduardo.brugneroto/" class="li-b">Facebook</a></li>
    <li class="footerLi"><a href="https://twitter.com/_EduBrug_" class="li-b">Twitter</a></li>

  </ul>
</section>