<a href=""><h1 class="brug"><span>Brug</span>neroto</h1></a>
<section>
  <div>
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <nav>
    <ul class="headerUL">
      <li class="headerLI"><a href="/sobre" class="li-a">Sobre</a></li>
      <li class="headerLI"><a href="#" class="li-a">Habilidades</a></li>
      <li class="headerLI"><a href="/cursos" class="li-a">Certificados</a></li>
    </ul>
  </nav>
</section>

<div>
  <div class="card">
  <h1 class="titulo">Sobre mim</h1>
  <hr>
  <h2 >Já que você escolheu a primeira opção <br>vou falar um pouco sobre mim e  <span class="cor">meus insteresses</span></h2>
  <hr>
  <p> <span class="red">Me</span> chamo <span class="yellow">Eduardo Brugneroto</span>, tenho <span class="blue">17</span> anos e tenho vontade de embarcar em novas <span class="green">experiências</span> profissionais como <span class="red">programador</span>.
    Meu <span class="yellow">primeiro</span> contato com os <span class="blue">estudos</span> voltados a área de programação foi em <span class="green">2020</span>, porém meu <span class="red">interesse</span> maior veio quando eu comecei
    a trabalhar e <span class="yellow">aprender</span> com meu pai, em um <span class="blue">projeto</span> particular que ele estava desenvolvendo <span class="green">(</span>Sipp<span class="green">)</span>, Nesse momento tive contato  com  algumas <span class="red">linguagens</span>
    que nunca tinha <span class="yellow">mexido</span> antes (<span class="garyblue">React</span>, <span class="red">A</span>ngular, Java) tambem foi <span class="green">possível</span> aprender sobre bancos de dados como <span class="yellow">mysql</span>  e <span class="yellow">postgresql</span>.
    Atualmente eu estou focado em um <span class="blue">projeto pessoal</span>,
    porém busco vagas em empresas que estejam <span class="green">contratando</span> pessoas que querem aprender e ganhar <span class="red">experiência</span> nesse mercado!
  </p>
  <a  href="/contato" class="tag"><button>Eai, bora trabalhar juntos?</button></a>
</div>

</div>

<section class="footer">
  <ul class="footerUl">
    <li class="footerLi"><a href="https://www.linkedin.com/in/eduardo-brugneroto-57aba61b8/" class="li-b">Linkedin</a></li>
    <li class="footerLi"><a href="https://github.com/EduardoBrugneroto" class="li-b">GitHub</a></li>
    <li class="footerLi"><a href="mailto:xeduxbrux@gmail.com" class="li-b">Email</a></li>
    <li class="footerLi"><a href="https://www.facebook.com/eduardo.brugneroto/" class="li-b">Facebook</a></li>
    <li class="footerLi"><a href="https://twitter.com/_EduBrug_" class="li-b">Twitter</a></li>

  </ul>
</section>
